:root {
  --slate-400: #94a3b8;
  --slate-500: #64748b;
  --slate-600: #334155;
  --orange-500: #f59e0b;
  --red-500: #ef4444;
  --lime-500: #84cc16;
  --blue-500: #3b82f6;
  --rose-500: #f43f5e;
}

.default{
  background-color: transparent;
  border: none;
  padding: 0.5rem 2rem;
  box-shadow: 0 0 2px 0 var(--slate-400);
  color:var(--slate-600);
  border-radius: 3px;
  margin: 1rem;
  font-size:1rem;
}

.lightText{
  color: white;
}

.darkText{
  color: var(--slate-600);
}

.smallButton{
  font-size: 12px;
  padding: 0.25rem 0.75rem;
}

.warning{
  composes: default;
  composes: lightText;
  background-color: var(--orange-500);
}

.smallWarning{
  composes: warning;
  composes: smallButton;
}

.danger{
  composes: default;
  composes: lightText;
  background-color: var(--red-500);
}

.info{
  composes: default;
  composes: lightText;
  background-color: var(--blue-500);
}

.dark{
  composes: default;
  composes: lightText;
  background-color: var(--slate-500);
}
